@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  color: #111127;
}

*:focus {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #e7eafb;
  padding: 0px 20px;
}

.component--job-item {
  max-width: 610px;
  background-color: white;
  height: 300px;
  padding: 50px 50px 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 21px 87px -35px rgba(80, 98, 212, 0.6);
          box-shadow: 0 21px 87px -35px rgba(80, 98, 212, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.component--job-item .title a {
  display: block;
  font-size: 25px;
  font-weight: 800;
  line-height: 45px;
  padding: 0px 15px;
  margin: -4px -15px;
  border-radius: 40px;
}

.component--job-item .title a:hover {
  background-color: #e7eafb;
}

.component--job-item .title .position {
  font-size: 16px;
  color: rgba(17, 17, 39, 0.65);
}

.component--job-item p {
  font-size: 18px;
  line-height: 25px;
}

.component--job-item .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.component--job-item .tags a {
  margin: 10px 10px 5px 0;
  padding: 7px 20px;
  font-size: 14px;
  border-radius: 30px;
  background-color: #e7eafb;
}

.component--job-items {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.component--job-items li {
  margin-bottom: 15px;
}

.component--job-items li a {
  padding: 20px 45px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 10px;
  -webkit-transition: 300ms -webkit-box-shadow ease, 300ms -webkit-transform ease;
  transition: 300ms -webkit-box-shadow ease, 300ms -webkit-transform ease;
  transition: 300ms box-shadow ease, 300ms transform ease;
  transition: 300ms box-shadow ease, 300ms transform ease, 300ms -webkit-box-shadow ease, 300ms -webkit-transform ease;
}

.component--job-items li a .avatar {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-right: 15px;
  height: 64px;
  min-width: 64px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 800;
  border: 3px solid #ddd;
  color: currentColor;
}

.component--job-items li a .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.component--job-items li a .detail .title {
  display: block;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 6px;
}

.component--job-items li a .detail .position {
  font-size: 16px;
  font-weight: 800;
  color: rgba(17, 17, 39, 0.65);
}

.component--job-items li a .location {
  margin: 0 10px 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: rgba(17, 17, 39, 0.65);
}

.component--job-items li a .location img {
  height: 32px;
  width: 32px;
  margin-right: 5px;
}

.component--job-items li a:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 5px 15px -5px rgba(17, 17, 39, 0.6);
          box-shadow: 0 5px 15px -5px rgba(17, 17, 39, 0.6);
}

.component--job-filter {
  width: 300px;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
}

.component--job-filter form {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.component--job-filter form .search {
  height: 76px;
  margin: 0 -10px 20px;
  border-bottom: 1px solid rgba(17, 17, 39, 0.2);
}

.component--job-filter form .search input {
  width: 100%;
  height: 46px;
  padding-left: 50px;
  background: no-repeat 5px 55%/40px url("./search_black_24dp.svg");
  font-size: 16px;
}

.component--job-filter form h6 {
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 15px;
}

.component--job-filter form .checkbox-list {
  padding-top: 10px;
  padding-bottom: 40px;
}

.component--job-filter form .checkbox-list li {
  margin-bottom: 20px;
}

.component--job-filter form .checkbox-list li :last-child {
  margin-bottom: 0;
}

.component--job-filter form .checkbox-list li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.component--job-filter form .checkbox-list li label .checkbox {
  width: 25px;
  min-width: 25px;
  height: 25px;
  margin-right: 10px;
  border: 1px solid #e7eafb;
  border-radius: 5px;
  background: no-repeat url("./check_white_24dp.svg");
  -webkit-transition: 300ms background-color ease;
  transition: 300ms background-color ease;
}

.component--job-filter form .checkbox-list li label .text {
  font-size: 16px;
}

.component--job-filter form .checkbox-list li label .text:hover {
  color: #5771ff;
}

.component--job-filter form .checkbox-list li label input {
  display: none;
}

.component--job-filter form .checkbox-list li label input:checked + .checkbox {
  background-color: #8a9cff;
  border-color: white;
}

.component--job-filter form .filter-form li {
  margin-bottom: 10px;
}

.component--job-filter form .filter-form li label {
  display: block;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 10px;
}

.component--job-filter form .filter-form li select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-overflow: ellipsis;
  width: 100%;
  height: 46px;
  padding: 0 35px 0 15px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px solid #e7eafb;
  border-radius: 7px;
  background: no-repeat calc(100% - 14px) 50%/16px url("./arrow-down.svg");
  cursor: pointer;
}

.component--job-filter form .filter-form li select:hover {
  border-color: #8a9cff;
}

.component--job-filter form .filter-form li button {
  height: 54px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  background-color: #8a9cff;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 13px -5px rgba(17, 17, 39, 0.4);
          box-shadow: 0 2px 13px -5px rgba(17, 17, 39, 0.4);
  -webkit-transition: 300ms -webkit-box-shadow ease;
  transition: 300ms -webkit-box-shadow ease;
  transition: 300ms box-shadow ease;
  transition: 300ms box-shadow ease, 300ms -webkit-box-shadow ease;
}

.component--job-filter form .filter-form li button:hover {
  background-color: #5771ff;
  -webkit-box-shadow: 2px 4px 15px -3px rgba(17, 17, 39, 0.8);
          box-shadow: 2px 4px 15px -3px rgba(17, 17, 39, 0.8);
}
/*# sourceMappingURL=style.css.map */