@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  color: #10182f;
}

*:focus {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #f0f6ff;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.component--trial-box {
  max-width: 566px;
  padding: 55px 45px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 28px 30px -12px #e9ecf9;
          box-shadow: 0 28px 30px -12px #e9ecf9;
}

.component--trial-box h3 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 25px;
}

.component--trial-box .credit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component--trial-box .credit-box .circle-progress-bar {
  --cevre: calc(var(--yaricap) * 2 * 3.1415926535897932384626433832795);
  --enboy: calc(calc(var(--yaricap) * 2) + var(--cizkal));
  --merkez: calc(var(--enboy) / 2);
  --prg: calc(1px * calc(100 - var(--progress)) * var(--cevre) / 100);
  width: calc(var(--enboy)*1px);
  height: calc(var(--enboy)*1px);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@-webkit-keyframes animationProgress {
  to {
    stroke-dashoffset: var(--prg);
  }
}

@keyframes animationProgress {
  to {
    stroke-dashoffset: var(--prg);
  }
}

.component--trial-box .credit-box .circle-progress-bar svg {
  fill: none;
  stroke-width: var(--cizkal);
}

.component--trial-box .credit-box .circle-progress-bar svg circle {
  r: var(--yaricap);
  cx: var(--merkez);
  cy: var(--merkez);
  stroke: #ccdbfa;
}

.component--trial-box .credit-box .circle-progress-bar svg circle:nth-child(2) {
  stroke: #1c53ec;
  stroke-linecap: round;
  stroke-dasharray: var(--cevre);
  stroke-dashoffset: var(--cevre);
  -webkit-animation: 2s animationProgress linear;
          animation: 2s animationProgress linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.component--trial-box .credit-box div {
  margin-left: 10px;
}

.component--trial-box .credit-box div .amount {
  font-size: 24px;
  font-weight: 800;
}

.component--trial-box p {
  margin: 60px 30px 40px 0;
  font-size: 16px;
  line-height: 22px;
}

.component--trial-box .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.component--trial-box .action a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  margin-right: 15px;
  padding: 0px 35px;
  border-radius: 45px;
  border: 3px solid #dae4f5;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.component--trial-box .action a:hover {
  border-color: #1c53ec;
}

.component--trial-box .action a.active {
  background-color: #10182f;
  color: white;
}

.component--trial-box .action a.active:hover {
  background-color: #1c53ec;
  border-color: #1c53ec;
}
/*# sourceMappingURL=style.css.map */