@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

*:focus {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #8d6379;
  padding: 30px 30px;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #8d6379;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.popup .popup-inner {
  position: relative;
}

.popup .popup-inner .close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 25px;
  right: 25px;
  padding: 10px 10px;
  border-radius: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: 300ms background-color ease;
  transition: 300ms background-color ease;
}

.popup .popup-inner .close-btn img {
  height: 16px;
  width: 16px;
}

.popup .popup-inner .close-btn:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.popup .share-popup {
  width: 808px;
  padding: 55px 78px;
  background-color: white;
  border-radius: 15px;
}

.popup .share-popup h4 {
  font-size: 22px;
  font-weight: 800;
  color: #242e4c;
  margin-bottom: 40px;
}

.popup .share-popup ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.popup .share-popup ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.popup .share-popup ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 1px solid #ebebf2;
  -webkit-transition: 500ms border-color ease, 200ms -webkit-box-shadow ease;
  transition: 500ms border-color ease, 200ms -webkit-box-shadow ease;
  transition: 200ms box-shadow ease, 500ms border-color ease;
  transition: 200ms box-shadow ease, 500ms border-color ease, 200ms -webkit-box-shadow ease;
}

.popup .share-popup ul li a:hover {
  border-color: #f775c1;
  -webkit-box-shadow: 0 5px 20px -5px #242e4c;
          box-shadow: 0 5px 20px -5px #242e4c;
}

.popup .share-popup ul li a img {
  width: 32px;
  height: 32px;
}

.popup .share-popup h6 {
  font-size: 16px;
  font-weight: 700;
  color: #242e4c;
  margin-bottom: 10px;
}

.popup .share-popup .input {
  position: relative;
}

.popup .share-popup .input button {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 53px;
  line-height: 53px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 900;
  color: #f775c1;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

.popup .share-popup .input input {
  height: 57px;
  border: 1px solid #ebebf2;
  border-radius: 5px;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  color: #242e4c;
}

body > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  border-radius: 10px;
  border: 1px solid #f775c1;
  color: #79015d;
  background-color: #db72ac;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popup-toggle {
  display: none;
}

.popup-toggle:checked + .popup {
  opacity: 1;
  visibility: visible;
}

.popup-copy-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  position: fixed;
  bottom: -20px;
  height: 25px;
  line-height: 25px;
  width: 180px;
  left: calc(50% - 150px / 2);
  border-radius: 30px;
  font-size: 14px;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.popup-copy-message.success {
  background-color: #44d321;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  opacity: 1.0;
  visibility: visible;
}

.popup-copy-message.error {
  background-color: #c53737;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  opacity: 1.0;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */